<!--CSS -->
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/theme/default/style.css" type="text/css">
    <link rel="stylesheet" href="/codebase/templates/bs-annie-template/css/datepicker3.css" />

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/codebase/templates/bs-annie-template/js/jquery.min.js"></script>
    <script src="/codebase/templates/bs-annie-template/js/bootstrap.min.js"></script>
    
    <!--Geo -->
    <!-- External lib: ExtJS -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/ext-all.js"></script>
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/resources/css/ext-all.css"/>
    <!--<link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/extjs/3.4.1-1/resources/css/xtheme-gray.css" media="all" />-->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/proj4js/1.1.0/proj4js-compressed.js" type="text/javascript"></script>

    <!-- External lib: OpenLayers -->
    <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/openlayers/2.12/theme/default/style.css"/>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/openlayers/2.12/OpenLayers.js"></script>

    <!-- External lib: GeoExt -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/geoext/1.1/script/GeoExt.js"></script>

    <link rel="stylesheet" type="text/css" href="/codebase/templates/bs-annie-template/js/lib/heron/resources/css/default.css"/>


    <!--Fixes -->
    <style type="text/css">
        .x-tab-strip-top .x-tab-right, .x-tab-strip-top .x-tab-left, .x-tab-strip-top .x-tab-strip-inner {
            background-image: none;
            background-color: #157FCC;
            border-radius:5px 5px 0 0;
        }
        .x-tab-strip-active span.x-tab-strip-text {
            color: #FFFFFF;
            font-weight: bold;
        }
        .x-tab-strip-over span.x-tab-strip-text {
            color: #CCCCCC;
        }
        .x-tab-strip span.x-tab-strip-text {
            *font: 11px tahoma,arial,helvetica;
            color: #FFFFFF;
        }

        ul.x-tab-strip-top {
            background-color: #888A8E;
            background-image: none;
            border-bottom-color: #888A8E;
        }
        .x-form-item-label{
            font-weight: bold;
            font-size: 11px;
        }
        .x-column-inner {
            overflow: hidden;
            padding: 2px;
        }
        .x-panel-header {
            color: #FFFFFF;
            font-weight: bold;
            font-size: 11px;
            font-family: tahoma,arial,verdana,sans-serif;
            border-color: #888A8E;
            padding-top: 5px;
            padding-bottom: 6px;
            background: #A82025;
            background-image: none;
          }
        .x-panel-body {
            border-color: #888A8E;
            background-color: #FFF;
        }
        .x-toolbar  {
            color: #FFFFFF;
            border-color: #888A8E;
            background: #888A8E;
        }
        .x-layout-collapsed {
            color: #FFFFFF;
            border-color: #888A8E;
            background: #888A8E;
        }
        .x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
            border-top-color: #888A8E;
        }
        .x-panel-noborder .x-panel-bbar-noborder .x-toolbar {
            border-width: 5px 0px 0px;
            border-style: solid;
        }
        .x-panel-noborder .x-panel-tbar-noborder .x-toolbar {
            border-bottom-color: #888A8E;
        }
        .x-panel-noborder .x-panel-header-noborder  {
            border-bottom-color: #888A8E;
        }
        .x-panel-noborder .x-panel-header-noborder {
            border-width: 2px 2px 2px;
            border-style: solid;
        }
        .x-window-tl .x-window-header {
            font: bold 11px tahoma,arial,verdana,sans-serif;
            color: #FFFFFF;
        }
        .x-window-tl {
            background-image: none;
            background: #157FCC;

        }
        .x-window-tr {
            background-image: none;
            background: #157FCC;

        }
        .x-window-tc {
            background-image: none;
            background: #157FCC;
        } 
        .x-window-handle{
            background-image: none;
            background: #157FCC;
        }
        .x-tab-panel-noborder .x-tab-panel-header-noborder {
            border-color: #888A8E;
            border-width: 0px 0px 1px;
            background-color: #A82025;
        }
        .ext-strict .ext-webkit .x-small-editor .x-form-text {
            height: 20px!important;
            color: #000000;
        }
    </style>

    <!-- google maps -->
    <script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>

    <!-- Script and css resources for printpreview ux -->
    <script type="text/javascript" src="/codebase/templates/bs-annie-template/js/lib/heron/ux/printpreview/lib/GeoExt.ux/PrintPreview.js"></script>
    <script type="text/javascript" src="/codebase/templates/bs-annie-template/js/lib/heron/ux/printpreview/lib/locale/PrintPreview-en.js"></script>
    <link rel="stylesheet" type="text/css" href="/codebase/templates/bs-annie-template/js/lib/heron/ux/printpreview/resources/css/printpreview.css" />
    <!-- application -->
    <script type="text/javascript" src="/codebase/templates/bs-annie-template/js/lib/heron/script/Heron.js"></script>
    <!--Datepicker -->
	<script src="/codebase/templates/bs-annie-template/js/bootstrap-datepicker.js"></script>

    <!--<script src="/codebase/templates/bs-annie-template/gis_data/filters.js"></script> -->
    <!-- Use default configuration -->
    <script type="text/javascript" src="/codebase/templates/bs-annie-template/js/DefaultOptionsWorld.js"></script>
    <script type="text/javascript" src="/codebase/templates/bs-annie-template/js/ToolbarConfig.js"></script>
    <script type="text/javascript" src="/codebase/templates/bs-annie-template/js/config.js"></script>