/*
----------------------------------------------------------------------------------------------------
page elements
----------------------------------------------------------------------------------------------------
*/

body {
	background-color: #7D7D7B;
}

tr, td, p, select, textarea {
	font-family: tahoma, Titillium, arial, tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin: 0px;
}




/*
----------------------------------------------------------------------------------------------------
font definitions
----------------------------------------------------------------------------------------------------
*/

@font-face {
	font-family: Titillium;
	src: url(../../fonts/embedded/TitilliumText22Lregular.otf) format("opentype");
	font-weight: 200;
	letter-spacing: 1px;
}

@font-face {
	font-family: Titillium;
	src: url(../../fonts/embedded/TitilliumText22Lbold.otf) format("opentype");
	font-weight: 900;
}



/*
----------------------------------------------------------------------------------------------------
text formating
----------------------------------------------------------------------------------------------------
*/


h1 {
	font-size: 28px;
	font-weight: bold;
	letter-spacing: -1px;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
	padding-top: 3px;
	color: #808080;
}

h2 {
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -1px;
	color: #336699;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
        padding-top: 3px;
}

h3 {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	color: #cc3300;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
        padding-top: 3px;
}


h4 {
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
        padding-top: 3px;
}


.medium {
	font-size: 11px;
}


.small {
	font-size: 10px;
}

.textmedium {
	font-size: 11px;
}


.textsmall {
	font-size: 10px;
}

.textfaded {
	color: #909090;
}

.texthighlighted {
	color: #336699;
}


.textbright {
	color: #ffffff;
}



/*
----------------------------------------------------------------------------------------------------
link formating
----------------------------------------------------------------------------------------------------

*/


a:link {
	color: #336699; text-decoration: none;
}

a:active {
	color: #336699; text-decoration: none;
}


a:visited {
	color: #cc6600; text-decoration: none;
}





/*
----------------------------------------------------------------------------------------------------
form elements
----------------------------------------------------------------------------------------------------
*/

input[type="text"] {
	background: #ffffff;
	float: left;
	height: 28px;
	padding-left: 5px;
}


input[type="text"].small {
	background: #ffffff;
	float: left;
	height: 20px;
	padding-left: 5px;
}


input[type="text"].big {
	background: #ffffff;
	float: left;
	height: 40px;
	width: 400px;
	font-size: 16px;
	padding-left: 5px;
}


input[type="password"] {
	background: #ffffff;
	float: left;
	height: 28px;
	padding-left: 5px;
}



input[type="password"].big {
	background: #ffffff;
	float: left;
	height: 40px;
	width: 350px;
	font-size: 16px;
	padding-left: 5px;
}


input[type="file"] {
	font-size: 11px; font-family: arial; height: 19px; background-color: #ffffff
}



input[type="button"] {
	border: 2px;
	padding: 5px 5px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 11px;
	background: #cc6600;
}


input[type="submit"] {
	border: 2px solid;
	height: 26px;
	padding: 0px 6px;
	border-radius: 0px;
	color: #ffffff;
	font-size: 11px;
	font-weight: normal;
	background: #336699;
}


input[type="submit"].big {
	border: 2px solid;
	padding: 10px 20px;
	border-radius: 10px;
	border-color: #cc6600;
	color: #ffffff;
	font-size: 14px;
	background: #cc6600;
}




select {
	height: 24px;
	width: 200px;
	background-color: #f0f0f0;
}

textarea {
	background: #ffffff;
	float: left;
	height: 50px;
	padding-left: 5px;
}


.button {
	background:#0380F4;
	color:#ffffff;
	cursor:pointer;
	padding:5px 10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}

.clearbutton {
	background: #336699;
	color:#ffffff;
	cursor:pointer;
	padding:5px 10px;
}



/*
----------------------------------------------------------------------------------------------------
notification boxes
----------------------------------------------------------------------------------------------------
*/


.alert {
    border: 1px solid #f0f0f0;
    padding: 0px;
    background: #FEF9F9;
    font-size: 11px;
}

.success {
    border: 1px solid #F1FEE2;
    padding: 0px;
    background: #FAFFF5;
    font-size: 11px;
}


.info {
    border: 1px solid #f6f6f6;
    padding: 0px;
    background: #FFFAF5;
    font-size: 11px;
}

.neatbox {
	background-color: #ffffff;
	color: #ffffff;
	border-right: #f6f6f6 1px solid;
	border-left: #f6f6f6 1px solid;
	border-top: #f6f6f6 1px solid;
	border-bottom: #f6f6f6 1px solid;
}

.neatbox-field {
	font-size: 11px;
	color: #404040;
}

.neatbox-title {
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}

.neatbox-text {
	font-size: 11px;
	font-weight: normal;
	color: #000000;
}

.neatbox-hr {
	color: #f6f6f6;
	background-color: #f6f6f6;
	height: 1px;
	border: 0px;
}


/*
----------------------------------------------------------------------------------------------------
headers and rows
----------------------------------------------------------------------------------------------------
*/

.rownormal {
	background-color: #ffffff;
}

.rowactive {
	background-color: #EDFFD7;
}

.rowdisabled {
	background-color: #cc3300;
	color: #ffffff;
}

.rowpending {
	background-color: #f0f0f0;
	color: #606060;
}

.header{
	color: #FFF;
	border: dotted 1px #999;
	background: #98A71F;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
	background: -moz-linear-gradient(top,  #B3C524,  #98A71F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3C524', endColorstr='#98A71F');
	height:34px;
	margin: 0px;
	border: 0px;
}


.textbox{
	border: 2px solid #e0e0e0;
	width: 300px;
	height:40px;
	margin: 5px;
	font-size: 18px;
}


.keybox{
	border: 1px solid #999;
	border-right-color:#FFF;
	width: 350px;
	height:40px;
	margin: 0px;
	font-size: 20px;
}



.tab {
	color: #FFF;
	border:dotted 1px #999;
	background: #98A71F;
	background: -webkit-gradient(linear, left top, left bottom, from(#B3C524), to(#98A71F));
	background: -moz-linear-gradient(top,  #B3C524,  #98A71F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3C524', endColorstr='#98A71F');
	height:44px;
	margin: 0px;
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
}

.tabon {
	color: #fffFFF;
	border: solid 4px #999999;
	background:  #666666;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
	background: -moz-linear-gradient(top,  #666666,  #333333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=' #666666', endColorstr='#333333');
	height: 44px;
	margin: 0px;
	border: 0px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px; 
}

.taboff {
	color: #FFF;
	border: solid 1px #B3C524;
	background: #98A71F;
	background: -webkit-gradient(linear, left top, left bottom, from(#B3C524), to(#98A71F));
	background: -moz-linear-gradient(top,  #B3C524,  #98A71F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3C524', endColorstr='#98A71F');
	height:34px;
	margin: 0px;
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
}


.subtabon {
	color: #000000;
	font-size: 14px;
	//background: #EFF5C0;
}

.subtaboff {
	color: #000000;
	font-size: 12px;
	//background: #d0d0d0;
	//background: #f9f9f9;
	//background: #98A71F;
}


.taboff:hover{
    background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
	background: -moz-linear-gradient(top,  #666,  #333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
	
}

.taboff:active{
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
	background: -moz-linear-gradient(top,  #333,  #666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
}
.tabon-text {
	color: #ffffff;
	font-weight: bold;
}

/*-------------------------------------------------------------------------------------------------------*/
/*In-Active button css*/


.toolbar {
	background-color: #f0f0f0;
	border-top: #d0d0d0 1px solid;
	border-bottom: #d0d0d0 1px solid;
}

.dbtoolbar {
	background-color: #6699FF;
	color: #ffffff;
}






.box {
	background-color: #f9f9f9;
	color: #000000;
	border-right: #e0e0e0 1px solid;
	border-left: #e0e0e0 1px solid;
	border-top: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 1px solid;
	padding: 10px;
}

.box-white {
	background-color: #ffffff;
	color: #000000;
	border-right: #e0e0e0 1px solid;
	border-left: #e0e0e0 1px solid;
	border-top: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 1px solid;
	padding: 10px;
}


.boxhighlighted {
	background-color: #336699;
	color: #ffffff;
	font-weight: bold;
}

.boxborder {
	border-right: #cc6600 2px solid;
	border-left: #cc6600 2px solid;
	border-top: #cc6600 2px solid;
	border-bottom: #cc6600 2px solid;
}

.boxfaded {
	background-color: #f9f9f9;
	color: #000000;
	border-right: #e0e0e0 1px solid;
	border-left: #e0e0e0 1px solid;
	border-top: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 3px solid;
}


.gridheader {
	background-color: #f6f6f6;
	color: #000000;
	border-right: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 2px solid;
}

.gridheaderhighlighted {
	background-color: #ffffff;
	border-right: #336699 1px solid;
	border-bottom: #336699 1px solid;
}

.gridrowoff {
	background-color: #ffffff;
}

.gridrowon {
	background-color: #f0f0f0;
	color: #000000;
	border-right: #a0a0a0 1px solid;
	border-left: #a0a0a0 1px solid;
	border-top: #a0a0a0 1px solid;
	border-bottom: #a0a0a0 1px solid;
}

.gridcelloff {
	border-right: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 1px solid;
	color: #808080;
}






.filefield_textbox {
	float: left
}

.filefield_div {
	position: relative; 
	width: 100px; 
	height: 23px; 
	overflow: hidden;
}

.filefield_button {
	width: 80px; 
	height: 18px;
	position: absolute; 
	font-size: 9px;
	font-weight: bold;
	top: 0px;
	background-color: #33BB00;
	color: #FFFFFF;
	border-style: solid;
}

.filefield_hidden {
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
	
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}




.fieldname {
	font-weight: bold;
	color: #447799;
}

.date {
	font-size: 11px; font-weight: bold; border-right: 0px; border-left: 0px; border-bottom: 0px; border-top: 0px; height: 18px; background-color: #ffffff
}

.datedropdown {
	font-size: 11px; font-family: tahoma, sans-serif, arial, verdana; border-right: 0px; border:0px solid; border-top-color:#ffffff; border-left-color:#ffffff; border-right-color:#ffffff; border-bottom-color:#ffffff; border-left: 0px; border-bottom: 0px; border-top: 0px; height: 18px; background-color: #f0f0f0
}

.pad{
	padding-left:15px;
	padding-right:15px;
}

.submit{
	color: #FFF;
	border: solid 1px #999;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#999));
	background: -moz-linear-gradient(top,  #ccc,  #999);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#999');
	height:34px;
	margin: 0px;

}
.submit:hover{
    background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
	background: -moz-linear-gradient(top,  #666,  #333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
	
}

.submit:active{
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
	background: -moz-linear-gradient(top,  #333,  #666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.reports {
	background-color: #f6f6f6;
}

.reports thead td{
	color: #000000;
	background-color: #E0E0E0;
	font-weight: bold;
}

.reports tbody td {
	background-color: #ffffff;
}

.report-title {
	padding-bottom: 12px;
}
.descript {
	display: block;
	border: 1px solid #d0d0d0;
	margin: 10px 0px;
	padding: 7px 5px;
	background-color: #f6f6f6;
}

.report-list li{
	list-style: none;
}

.report-list li ul {
	margin: 0px 0px 0px 5px;
	padding: 0px 5px;
}
form.firearm label.error, label.error {
	color: red;
	font-style: italic;
}
.hide {
	display: none;
}
.show {
	display: block;
	width: auto;
}
.slogan_small {
	color: #707070;
	font-size: 10px;
	font-weight: bold;
}



.pad{
	padding-left:15px;
	padding-right:15px;
}

.pad_all {
	padding:15px;
}





#paswd {
	display: none;
}






.menuitem {
	color: #FFF;
	border:solid 1px #666666;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	background: #333333;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
	background: -moz-linear-gradient(top,  #333333,  #666666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
	height: 34px;
	margin: 0px;
}

.menuitem:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
	background: -moz-linear-gradient(top,  #666,  #333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
}

.menuitem-featured {
	color: #FFF;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border:solid 1px #DF151A;
	background: #DF151A;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#B80B0F));
	background: -moz-linear-gradient(top,  #DF151A,  #B80B0F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#B80B0F');
	height:34px;
	margin: 0px;
}


.submenuitem {
	border: solid 1px #ffffff;
	padding: 3px;
	text-align: left;
	color: #FFF;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#B80B0F));
	background: -moz-linear-gradient(top,  #DF151A,  #B80B0F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#B80B0F');
	height:28px;
	margin: 0px;
}


.submenuitem:hover {
	color: #FFF;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#DF151A));
	background: -moz-linear-gradient(top,  #DF151A,  #DF151A);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#DF151A');
	height:28px;
	margin: 0px;
}

.submenuitem-featured {
	color: #FFF;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#B80B0F));
	background: -moz-linear-gradient(top,  #DF151A,  #B80B0F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#B80B0F');
	height:28px;
	margin: 0px;
}












/* CSS Document */

#main {
	margin:auto;
}

.menubar {
	color: #FFF;
	border:solid 1px #666666;
/*	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
	background: -moz-linear-gradient(top,  #333333,  #666666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
/*	height:10px;*/
	margin: 0px;
	}
	
.searchbutton{
	color: #FFF;
	border: solid 1px #118FE4;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#118FE4), to(#118FE4));
	background: -moz-linear-gradient(top,  #118FE4,  #118FE4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#118FE4', endColorstr='#118FE4');
	height:24px;
	margin: 0px;

}

.searchtextbox{
	border: 1px solid #999;
	border-right-color:#FFF;
	width: 100px;
	height:20px;
	margin: 0px;
}

.sbutton{
	color: #FFF;
	border:solid 1px #666666;
/*	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
	background: -moz-linear-gradient(top,  #333333,  #666666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
	height:34px;
	margin: 0px;
}

.sbutton:hover{
    background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
	background: -moz-linear-gradient(top,  #666,  #333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
}

.sbutton:active{
color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
	background: -moz-linear-gradient(top,  #333,  #666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
}





.news-events{
	color: #FFF;
/*	border:solid 1px #666666;
	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
	background: -moz-linear-gradient(top,  #333333,  #666666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
	height:24px;
	margin: 0px;
}

.news-events:hover{
	color: #FFF;
/*	border:solid 1px #666666;
	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#DF151A));
	background: -moz-linear-gradient(top,  #DF151A,  #DF151A);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#DF151A');
	height:24px;
	margin: 0px;
}

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style9 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; }
.style13 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #437DBC; }
.style16 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
.style18 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; }
.style19 {font-family: Arial, Helvetica, sans-serif}
.style21 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.style22 {font-size: 12px}
.style23 {font-size: 10px}
.style26 {color: #333333}
.style29 {color: #999999}
.style31 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #437DBC; font-weight: bold; }
.style32 {color: #0066FF}
.style34 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0066FF;
	font-weight: bold;
}
.style36 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099FF;
	font-weight: bold;
}
.style37 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0099FF; }
.style40 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000; }



/* CSS Document */

#main {
	margin:auto;
}

.menubar{
	color: #FFF;
	border:solid 1px #666666;
/*	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
	background: -moz-linear-gradient(top,  #333333,  #666666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
/*	height:10px;*/
	margin: 0px;
	}
	
.searchbutton{
	color: #FFF;
	border: solid 1px #118FE4;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#118FE4), to(#118FE4));
	background: -moz-linear-gradient(top,  #118FE4,  #118FE4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#118FE4', endColorstr='#118FE4');
	height:24px;
	margin: 0px;

}

.searchtextbox{
	border: 1px solid #999;
	border-right-color:#FFF;
	width: 100px;
	height:20px;
	margin: 0px;
}

.sbutton{
	color: #FFF;
	border:solid 1px #666666;
/*	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
	background: -moz-linear-gradient(top,  #333333,  #666666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
	height:34px;
	margin: 0px;
}

.sbutton:hover{
    background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
	background: -moz-linear-gradient(top,  #666,  #333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
}

.sbutton:active{
color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
	background: -moz-linear-gradient(top,  #333,  #666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
}

.admin-button{
	color: #FFF;
	border:solid 1px #666666;
/*	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#B80B0F));
	background: -moz-linear-gradient(top,  #DF151A,  #B80B0F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#B80B0F');
	height:34px;
	margin: 0px;
}

.admin-button:hover{
    background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#045BAB), to(#027FF3));
	background: -moz-linear-gradient(top,  #045BAB,  #027FF3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#045BAB', endColorstr='#027FF3');
}

.admin-panel{
	color: #FFF;
/*	border:solid 1px #666666;
	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#B80B0F));
	background: -moz-linear-gradient(top,  #DF151A,  #B80B0F);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#B80B0F');
	height:24px;
	margin: 0px;
}

.admin-panel:hover{
	color: #FFF;
/*	border:solid 1px #666666;
	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#DF151A));
	background: -moz-linear-gradient(top,  #DF151A,  #DF151A);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#DF151A');
	height:24px;
	margin: 0px;
}

.news-events{
	color: #FFF;
/*	border:solid 1px #666666;
	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#333333), to(#666666));
	background: -moz-linear-gradient(top,  #333333,  #666666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
	height:24px;
	margin: 0px;
}

.news-events:hover{
	color: #FFF;
/*	border:solid 1px #666666;
	border: solid 1px #999;*/
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#DF151A), to(#DF151A));
	background: -moz-linear-gradient(top,  #DF151A,  #DF151A);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#DF151A', endColorstr='#DF151A');
	height:24px;
	margin: 0px;
}

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.style9 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; }
.style13 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #437DBC; }
.style16 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; }
.style18 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; font-weight: bold; color: #FFFFFF; }
.style19 {font-family: Arial, Helvetica, sans-serif}
.style21 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.style22 {font-size: 12px}
.style23 {font-size: 10px}
.style26 {color: #333333}
.style29 {color: #999999}
.style31 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #437DBC; font-weight: bold; }
.style32 {color: #0066FF}
.style34 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #0066FF;
	font-weight: bold;
}
.style36 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0099FF;
	font-weight: bold;
}
.style37 {font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #0099FF; }
.style40 {font-family: Arial, Helvetica, sans-serif; font-size: 14px; font-weight: bold; color: #000000; }

.roundedbox {
	border: 2px;
	padding: 5px 5px;
	border-radius: 10px;
	color: #000000;
	font-size: 11px;
	background: #E6F2FC;
	width: 60px;
}

