<div>
{{title}}
{{language}}
{{userinfo}}
{{menu(1, 0, "h")}}
{{bottommenus}}
{{copyright}}
{{searchbox}}
{{userinfo}}
{{page_image()}}
{{pagetitle()}} 
{{content}}
<table border="0" align="right" cellpadding="0" cellspacing="4">
<tr>
<td><img src="burundi.png" width="24" height="24" alt="Burundi Flag"/></td>
<td><img src="drc.png" width="24" height="24" alt="DRC Flag" /></td>
<td><img src="kenya.png" width="24" height="24" alt="Kenya Flag"/></td>
<td><img src="rwanda.png" width="24" height="24" alt="Rwanda Flag"/></td>
<td><img src="uganda.png" width="24" height="24" alt="Uganda Flag"/></td>
<td><img src="ssudan.jpg" width="24" height="16" alt="South Sudan Flag"/></td>                              
</tr>
</table>
</div>
