{{headers}}
<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0" bgcolor=#ffffff>
<tr valign="top" align=right><td>{{userinfo}}</td></tr>
<tr valign="top" align=left><td>
	<table cellspacing=0 cellpadding=8 width="100%">
	<tr valign=top>
	<td width="100%">
	{{pagetitle()}} 
	{{content}}
	</td>
	<td>{{menu(2, 0, "v")}}</td>
	</tr>
	</table>

</td></tr>
<tr><td id="footer">
	<table cellspacing=5 cellpadding=0 width="100%">
	<tr><td><hr size=1 noshade color=#e0e0e0></td></tr>
	<tr><td align=right>{{copyright}}</td></tr>
	</table>
</td></tr>
</table>
</body>
</html>
