/*
----------------------------------------------------------------------------------------------------
page elements
----------------------------------------------------------------------------------------------------
*/

body, tr, td, p, select, textarea {
	font-family: tahoma, Titillium, arial, tahoma, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin: 0px;
}




/*
----------------------------------------------------------------------------------------------------
font definitions
----------------------------------------------------------------------------------------------------
*/

@font-face {
	font-family: Titillium;
	src: url(../../fonts/embedded/TitilliumText22Lregular.otf) format("opentype");
	font-weight: 200;
	letter-spacing: 1px;
}

@font-face {
	font-family: Titillium;
	src: url(../../fonts/embedded/TitilliumText22Lbold.otf) format("opentype");
	font-weight: 900;
}



/*
----------------------------------------------------------------------------------------------------
text formating
----------------------------------------------------------------------------------------------------
*/


h1 {
	font-size: 25px;
	font-weight: bold;
	letter-spacing: -1px;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
	padding-top: 3px;
	color: #000000;
}

h2 {
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	letter-spacing: -1px;
	color: #cc6600;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
        padding-top: 3px;
}

h3 {
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	color: #008800;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
    padding-top: 3px;
}


h4 {
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
        padding-top: 3px;
}


.medium {
	font-size: 11px;
}


.small {
	font-size: 10px;
}

.textmedium {
	font-size: 11px;
}


.textsmall {
	font-size: 10px;
}

.textfaded {
	color: #909090;
}

.texthighlighted {
	color: #336699;
}


.textbright {
	color: #ffffff;
}



/*
----------------------------------------------------------------------------------------------------
link formating
----------------------------------------------------------------------------------------------------

*/


a:link {
	color: #880000; text-decoration: none;
}

a:active {
	color: #880000; text-decoration: none;
}


a:visited {
	color: #0000ff; text-decoration: none;
}





/*
----------------------------------------------------------------------------------------------------
form elements
----------------------------------------------------------------------------------------------------
*/

input[type="text"] {
	background: #ffffff;
	float: left;
	height: 28px;
	padding-left: 5px;
}


input[type="text"].big {
	background: #ffffff;
	float: left;
	height: 40px;
	width: 400px;
	font-size: 16px;
	padding-left: 5px;
}


input[type="password"] {
	background: #ffffff;
	float: left;
	height: 28px;
	padding-left: 5px;
}



input[type="password"].big {
	background: #ffffff;
	float: left;
	height: 40px;
	width: 350px;
	font-size: 16px;
	padding-left: 5px;
}


input[type="file"] {
	font-size: 11px; font-family: arial; height: 19px; background-color: #ffffff
}



input[type="button"] {
	border: 2px;
	padding: 5px 5px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 11px;
	background: #cc6600;
}



input[type="submit"] {
	color: #FFF;
	border: solid 1px #000;
	font-size: 11px;
	font-weight: bold;
	background: #ccc;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#000));
	background: -moz-linear-gradient(top,  #ccc,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccc', endColorstr='#000');
	height:28px;
	margin: 0px;
}


input[type="submit"].big {
	border: 2px solid;
	padding: 10px 20px;
	border-radius: 10px;
	border-color: #cc6600;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	background: #cc6600;
	height:40px;
	margin: 0px;
}




select {
	height: 24px;
	width: 200px;
	background-color: #f0f0f0;
}

textarea {
	background: #ffffff;
	float: left;
	height: 50px;
	padding-left: 5px;
}


.button {
	background:#0380f4; color:#fff;
	cursor:pointer;
	padding:5px 10px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px
}



/*
----------------------------------------------------------------------------------------------------
notification boxes
----------------------------------------------------------------------------------------------------
*/


.alert {
    border: 1px solid #f0f0f0;
    padding: 0px;
    background: #FEF9F9;
    font-size: 11px;
}

.success {
    border: 1px solid #F1FEE2;
    padding: 0px;
    background: #FAFFF5;
    font-size: 11px;
}


.info {
    border: 1px solid #f6f6f6;
    padding: 0px;
    background: #FFFAF5;
    font-size: 11px;
}

.neatbox {
	background-color: #fcfcfc;
	border-right: #f6f6f6 1px solid;
	border-left: #f6f6f6 1px solid;
	border-top: #f6f6f6 1px solid;
	border-bottom: #f6f6f6 1px solid;
}



/*
----------------------------------------------------------------------------------------------------
headers and rows
----------------------------------------------------------------------------------------------------
*/

.rownormal {
	background-color: #ffffff;
}

.rowactive {
	background-color: #EDFFD7;
}

.rowdisabled {
	background-color: #FFF9F8;
	color: #000000;
}

.rowmissing {
	background-color: #f0f0f0;
	color: #000000;
}

.rowpending {
	background-color: #f9f9f9;
	color: #606060;
}

.header{
	color: #FFF;
	border: dotted 1px #999;
	background: #98A71F;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
	background: -moz-linear-gradient(top,  #666666,  #333333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
	height:34px;
	margin: 0px;
	border: 0px;
}


.textbox{
	border: 2px solid #e0e0e0;
	width: 300px;
	height:40px;
	margin: 5px;
	font-size: 18px;
}


.keybox{
	border: 1px solid #999;
	border-right-color:#FFF;
	width: 350px;
	height:40px;
	margin: 0px;
	font-size: 20px;
}



.tab {
	color: #FFF;
	/*border:dotted 1px #999;*/
	background: #4D90FE;
	background: -webkit-gradient(linear, left top, left bottom, from(#4D90FE), to(#4787ED));
	background: -moz-linear-gradient(top,  #4D90FE,  #4787ED);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FE', endColorstr='#4787ED');
	height:44px;
	margin: 0px;
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
}

.tabon {
	color: #fffFFF;
	border: solid 4px #999999;
	background:  #666666;
	background: -webkit-gradient(linear, left top, left bottom, from(#666666), to(#333333));
	background: -moz-linear-gradient(top,  #666666,  #333333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr=' #666666', endColorstr='#333333');
	height: 44px;
	margin: 0px;
	border: 0px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px; 
}

.taboff {
	color: #FFF;
	background: #4D90FE;
	background: -webkit-gradient(linear, left top, left bottom, from(#4D90FE), to(#4787ED));
	background: -moz-linear-gradient(top,  #4D90FE,  #4787ED);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FE', endColorstr='#4787ED');
	height:40px;
	margin: 0px;
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
}


.subtabon {
	color: #000000;
	font-size: 14px;
}

.subtaboff {
	color: #000000;
	font-size: 12px;
}


.taboff:hover{
    background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#333));
	background: -moz-linear-gradient(top,  #666,  #333);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666', endColorstr='#333');
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
	
}

.taboff:active{
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#666));
	background: -moz-linear-gradient(top,  #333,  #666);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#666');
	
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	-webkit-border-top-left-radius: 10px; 
	-webkit-border-top-right-radius: 10px;
}
.tabon-text {
	color: #ffffff;
	font-weight: bold;
}

/*-------------------------------------------------------------------------------------------------------*/
/*In-Active button css*/


.toolbar {
	background-color: #f0f0f0;
	border-top: #d0d0d0 1px solid;
	border-bottom: #d0d0d0 1px solid;
}

.dbtoolbar {
	background-color: #6699FF;
	color: #ffffff;
}






.box {
	background-color: #f9f9f9;
	color: #000000;
	border-right: #e0e0e0 1px solid;
	border-left: #e0e0e0 1px solid;
	border-top: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 1px solid;
	padding: 10px;
}

.boxhighlighted {
	background-color: #336699;
	color: #ffffff;
	font-weight: bold;
}

.boxborder {
	border-right: #cc6600 2px solid;
	border-left: #cc6600 2px solid;
	border-top: #cc6600 2px solid;
	border-bottom: #cc6600 2px solid;
}

.boxfaded {
	background-color: #f9f9f9;
	color: #000000;
	border-right: #e0e0e0 1px solid;
	border-left: #e0e0e0 1px solid;
	border-top: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 3px solid;
}


.gridheader {
	background-color: #f6f6f6;
	color: #000000;
	border-right: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 2px solid;
}

.gridheaderhighlighted {
	background-color: #ffffff;
	border-right: #336699 1px solid;
	border-bottom: #336699 1px solid;
}

.gridrowoff {
	background-color: #ffffff;
}

.gridrowon {
	background-color: #f0f0f0;
	color: #000000;
	border-right: #a0a0a0 1px solid;
	border-left: #a0a0a0 1px solid;
	border-top: #a0a0a0 1px solid;
	border-bottom: #a0a0a0 1px solid;
}

.gridcelloff {
	border-right: #e0e0e0 1px solid;
	border-bottom: #e0e0e0 1px solid;
	color: #808080;
}






.filefield_textbox {
	float: left
}

.filefield_div {
	position: relative; 
	width: 100px; 
	height: 23px; 
	overflow: hidden;
}

.filefield_button {
	width: 80px; 
	height: 18px;
	position: absolute; 
	font-size: 9px;
	font-weight: bold;
	top: 0px;
	background-color: #33BB00;
	color: #FFFFFF;
	border-style: solid;
}

.filefield_hidden {
	font-size: 45px; 
	position: absolute; 
	right: 0px; 
	top: 0px; 
	opacity: 0; 
	
	filter: alpha(opacity=0); 
	-ms-filter: "alpha(opacity=0)"; 
	-khtml-opacity: 0; 
	-moz-opacity: 0;
}




.fieldname {
	font-weight: bold;
	color: #447799;
}

.date {
	font-size: 11px; font-weight: bold; border-right: 0px; border-left: 0px; border-bottom: 0px; border-top: 0px; height: 18px; background-color: #ffffff
}

.datedropdown {
	font-size: 11px; font-family: tahoma, sans-serif, arial, verdana; border-right: 0px; border:0px solid; border-top-color:#ffffff; border-left-color:#ffffff; border-right-color:#ffffff; border-bottom-color:#ffffff; border-left: 0px; border-bottom: 0px; border-top: 0px; height: 18px; background-color: #f0f0f0
}

.pad{
	padding-left:15px;
	padding-right:15px;
}

.off>td
{
	background: #ffffff !important;
}
