/*Body*/

@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);

body{
	background: #ffffff;
	font-family: "Helvetica Neue",Arial,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}
hr{
	border-top: 1px dashed #ccc;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	font-family: Enriqueta,Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: capitalize;
}

.description, p{
	 word-break: break-all;
	 white-space: normal;
}

.tilecontent{
	width: 100%;
}

.articlecontent{
	font-family: font-family: 'Open Sans', sans-serif;;
	line-height: 1.8;
	font-size: 18px;
}

.article-preview
{
	border: 1px solid #ccc;
}

.article-preview-title
{
	font-weight: bold;
	padding: 15px 0px 3px 0px;
	border-bottom: 1px solid #ccc;
	margin: 15px;
}

.article-preview-text
{
	padding: 15px;
}

.previous-articles{
	margin-top: 15px;
}

.content .post-date {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	color: #9f9f9f;
	font-weight: bold;
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	position: relative;
	margin: 10px;
}

.article{
	background: #fff;
	border: 1px solid #ccc;
	padding-top: 15px;
}

.nopadding
{
	padding: 0px;
}

.row
{
	margin-left: 0px;
	margin-right: 0px;
}

.clear{
	clear:both;
}

.show
{
	display: block;
}

.main-page
{
	background: #F7F8F9;
	background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
	background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
	background-repeat: repeat-x;
}

.section-title
{
	display: inline-block;
	border-bottom: 1px solid #333;
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
	position: relative;
	overflow: hidden;	
}

/*Head banner*/
.head-banner
{
	margin: 10px 0px 10px 0px;
}


/*Text*/
.text-muted a
{
	color: #777777;
	text-decoration: none;
}

.text-muted a:hover, .text-muted a:focus
{
	color: #ffffff;
}

.value {
	display: block;
	text-align: center;
	font-size: 2em;
	margin: 10px 0;
}

/*Images*/
.thumbnail
{
	padding: 0px;
	border-radius: 0px;
	background: none !important;
	border: none;
}

.thumbnail img
{
	padding: 4px;
	height:	160px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.thumbnail img.featured
{
	padding: 0px;
	height: auto;
}

/*Site info*/
.site-info
{
	/*margin: 5px;*/
}

.language
{
	padding: 0px 5px;		
}
.country-flags
{
	background: #f5f5f5;
	padding: 5px;
	border: 1px solid #ccc;
}

.language-btn
{
	margin: 0px;
	padding: 0px 5px 0px 0px;
}

/*Featured data*/
.featured
{
	/*padding: 20px 0px 20px 0px;*/
	/*background: #ffffff;*/
	color: #333333;	
}

.featured-title-text
{
	font-weight: bold;
}

.featured-title
{
	text-align: justify;
}

.caption
{
	text-align: justify;
	font-size: 15px;
}

.featured-chart-text
{
	background: #f5f5f5;
	border: 1px solid #ccc;
	padding: 10px;
	min-height: 100px;
}


/*Buttons*/
.btn-primary {
	color: #fff;
	background-color: #00A8D6;
	border-color: #0494BB;
}

.bluebutton
{
	background-color: #31b0d5;
	color: #ffffff;
	font-weight: bold;
}

.bluebutton:hover, .bluebutton:focus
{
	background-color: #5bc0de;
	color: #333333;
}

.data-filter
{
	margin-top: 20px;
}

.filter-button
{
	/*width: 200px;*/
}

.featured-links
{
	font-family: Enriqueta,Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 18px;
}

.jump-to
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.quick-buttons
{
	padding: 10px;
	width: 100%
}

.btn
{
	border-radius: 0px;
}

.btn.btn-one
{
	border: 2px solid #FFFFFF !important;
	color: #FFF;
	background: #a82025;
}

.btn.btn-one:hover, .btn.btn-one:focus
{
	border: 2px solid #a82025 !important;
	border: 2px solid #FFF;
	color: #ffffff;
	background: #555555;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.btn-two {
	color: #ffffff;
	background-color: #a82025;
	border: 1px solid;
	border-color: #df1119;
}

.btn-two:hover, .btn-two:focus {
	color: #ffffff;
	background-color: #BB0D14;
	border: 1px solid;
	border-color: #df1119;
}

/*Top header*/
.info{
	font-weight: bold;
	font-size: 12px;
	color: #555555;
}

/*Carousel*/
.carousel-caption
{
	color: #333;
}
.carouselbtn
{
	background: #555555;
	border: 1px solid #333;
	color: #ffffff;
}

.carouselbtn:hover, .carouselbtn:focus
{
	background: #ffffff;
	border: 1px solid #cccccc;
	color: #333333;
}

/*Social*/
.facebook
{
	background: #204385;
}

.twitter
{
	background: #2aa9e0;
}

.youtube
{
	background: #e22d24;
}

.linkedin
{
	background: #0073b2;
}

.home-icon
{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
}

.icon{
	color: #ffffff;
	width: 50px;
	height: 50px;
	font-size: 25px;
	line-height: 50px;
	text-align: center;
}

.icon:hover, .icon:focus{
	background: #31373a;
	color: #ffffff;
}

/*Page header*/

.page-header {
	margin: 0px;
}

/*Navbar*/

.navbar {
	min-height: 1px;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	color: #ffffff;
}

.navbar-s
{
	/*height: 60px;*/
}

.navbar-default {
	background-color: #a82025;
	border-bottom: 1px solid #ddd;
	border: none !important;
}

.navbar-default.scroll-fixed-navbar
{
	background-color: #a82025;
	border-color: #e7e7e7;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .navbar-brand{
	overflow: hidden;
	height: 60px;
	width: 60px;
	padding: 0px;
	/*margin: 5px 0px 5px 0px;*/
	background: #ffffff !important;
}

.navbar-logo{
	float: left;
	overflow: hidden;
	height: 100px;
	width: 270px;
	margin: 5px 0px 5px 0px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-default .navbar-nav>li>a {
	color: #ffffff;
	font-size: 18px;
	padding: 20px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background: #ffffff;
}


.navbar-default.scroll-fixed-navbar .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #a82025;
	background: #f2f2f2;
}

.navbar-default.scroll-fixed-navbar .navbar-nav>.active>a, .navbar-default.scroll-fixed-navbar .navbar-nav>.active>a:hover, .navbar-default.scroll-fixed-navbar .navbar-nav>.active>a:focus {
	color: #333;
}

.navbar-default.scroll-fixed-navbar .navbar-nav>li>a:hover, .navbar-default.scroll-fixed-navbar .navbar-nav>li>a:focus
{
	color: #333;
}

.navbar-nav>li>a {
	line-height: 30px;
}

/*Logo*/
.logo-combination
{
	
}

.logo-combination a
{
	text-decoration: none;
}

.logo-text
{
	color: #a82025;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.2em;
	width: 175px;
}

.logo-text-item
{
	font-size: 15px;
}
.logo-slogan
{
	color: #333;
	border-top: 1px solid #a82025;
	border-bottom: 1px solid #a82025;
	font-size: 9px;
	letter-spacing: 1px;
}

/*Tabs*/
.tab-header
{
	padding: 8px 10px 2px;
	margin: 0px 10px 0px 10px;
	border-bottom: 1px solid #c4c4c4;
	min-height: 30px;
	margin-bottom: 0px;	
}

.tab-content
{
	border-radius: 0 0 4px 4px;
	padding: 0px;
	margin: 0px 10px 50px 10px;;
}

.tab-content>.tab-pane 
{
	height: 100%;
	min-height: 500px;
}

.nav-tabs{
	border-bottom: 0 none;
	margin-right: 0;
	overflow: hidden;
	position: relative;
	top: 3px;
	padding-top: 15px;
}

.nav-tabs>li>a {
	position: relative;
	padding: 7px 15px;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255,255,255,0.8) !important;
	border-radius: 0px !important;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4) !important;
	margin-right: 15px !important;
	border: 1px solid #d0d0d0 !important;
}


/*info continer*/
.info-container
{
	background-color: #f3f6fb;
	padding: 15px 20px 20px 20px;
	border-color: #e7eaec;
	border-style: solid solid none;
	border-width: 1px 0px;
}

/*Filter tab*/

.filter-tab{
	background: #ffffff;
	padding: 15px;
}

#filter-panel-button
{
	padding: 10px;
	background: #ffffff;
}

/*Dashboard*/
.dashboard-box{
	background-color: #ffffff;
}

.dashboard-body{
	color: #66666;
	padding: 5px 0px 5px 0px;
}
.dashboard-footer{
	background-color: #505050;
	color: #ffffff;
}

/*Graphs and charts*/
.plot-data
{
	background: #ffffff;
	margin: 0px 5px 15px 0px;
}
.gnc-header{
	background-color: #505050;
	color: #ffffff;
	padding: 5px;
}

.gnc-body{
	background-color: #ffffff;
	color: #666666;
	border: 1px solid #505050;
	padding: 10px;
}

/*Table*/
tbody
{
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
}

.table-header{
	background-color: #505050;
	color: #ffffff;
	padding: 5px;
}

.table-body{
	background-color: #ffffff;
	color: #666666;
	border: 1px solid #505050;
	padding: 10px;
}

.keyvalue-table > tbody > tr > td {
	padding-top: 11px;
	padding-bottom: 11px;
	border-top: none;
	border-bottom: 1px solid #ddd;
	background: #fff;
	color: #797979;
}

/*Map*/
.toggle-chart 
{
	border: 1px solid transparent;
	height: 30px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	padding: 3px;
	background: #555555;
	color: #ffffff;
	width: 120px;
	font-size: 15px;
	font-weight: bold;
	text-overflow: ellipsis;
	position: absolute;
	top: 60px;
	right: 0px;
	cursor: pointer;
	cursor: hand;
	z-index: 99;
}

.toggle-chart:hover, .toggle-chart:focus
{
	background: #00A8D6;
}

.carousel-caption
{
	background: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
	border: 3px solid #ccc;
}

div#map-canvas {
        height: 450px;
        margin: 0px;
        padding: 0px
}
.map-header
{
	background-color: #505050;
	color: #ffffff;
	padding: 5px;
}

.map-body
{
	background-color: #ffffff;
	color: #666666;
	border: 1px solid #505050;
}

/*Panel*/
.open-panel-header
{
	height: 25px;
	background: #d9534f;
	padding: 6px 12px;
	padding: 6px 12px;
	width: 648px;
	left: -15px;
	position: relative;
}

li .panel-search
{
	width: 200px;
	position: relative;
	top: -30px;
}

.panel-search
{
}

.left-panel
{
	background: #f5f5f5;
	padding: 15px;
}

.left-panel-content
{
	margin-top: 10px;
}

/*Indicators panels*/
.main-panel-indicators
{
	min-height: 300px;
}

.indicator-data
{
	border: 1px solid #cccccc;
	background: #fff;
}

.left-panel-indicators a.link {
	text-decoration: none;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #EBEBEB;
	padding: 1em;
	display: block;
	color: #444444;

	padding: 1em;
	font-size: 85%;
}

.left-panel-indicators a.link:hover, .left-panel-indicators a.link:focus {
	color: #dddddd;
}

.left-panel-indicators
{
	background: #f5f5f5;
	padding: 15px;
}

#open-panel {
	float:right;
	margin:-10px -60px 0px 0px;
	border-radius:0;
	top: -23px;
	position: relative;
}

.panel-container
{
	overflow: hidden;
}
.left-panel-indicators
{
	width: 650px;
	min-height: 500px;
	position: absolute;
	left: -650px;
	z-index: 1000;
}

.main-panel
{
	left: 0px;
}

.left-panel-push
{
	left: 0px;
}

.main-panel-push
{
	left: 650px;
}


/*GIS panel*/
#gis-panel-buttons
{
	margin: 10px;
}

/*Dashboard panels*/
.dashboard
{
	padding:5px;
	margin: 20px 0px 20px 0px;
}

.dashboard-item 
{
	background: #f5f5f5;
	border: 1px solid #cccccc;
	color: #a82025;
}

.dashboard-item:hover, .dashboard-item:focus
{
	background: #555555;
	border: 1px solid #333;
	color: #ffffff;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.dashboard-quick-link
{
	background: #ffffff;
}

.dashboard-quick-link-image
{
	color: #333;
	background: #f5f5f5;
	border-bottom: 1px solid #cccccc;
	padding: 20px;
}

.dashboard-quick-link-text
{
	padding: 10px;
}

.dashboard-tile.clean 
{
	overflow: hidden;
}

.dashboard-tile.detail .content {
	background: transparent;
	padding: 10px 10px 13px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.dashboard-tile.detail:hover .icon i, .dashboard-tile.detail:focus .icon i
{
	font-size: 100px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}

.dashboard-tile.detail .icon {
	display: block;
	float: right;
	height: 150px;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 10px;
	width: 80px;
	max-width: 80px;
	color: #ffffff;
}

.dashboard-tile.detail .icon i 
{
	color: rgba(0, 0, 0, 0.15);
	font-size: 60px;
	line-height: 65px;
	margin-top: 70px;
}

.dashboard-tile.detail .icon:hover, .dashboard-tile.detail .icon:focus
{
	background: none;
}

/*Search*/
.mainnav-search-query {
	color: #333;
	outline: none;
	width: 210px;
	padding: 3px 20px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	border-radius: 0;
	height: auto;
	background: #FFF;
}

.mainnav-form-btn
{
	text-align: center;
	color: #fff;
	padding: 7px 10px;
	background: #00A8D6;
	border: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	font-weight: bold;
	border-radius: 0;
}

.search-form
{
	margin-top: 20px;
	position: relative;
}

.search-button
{
	top: 2px;
	position: absolute;
	right: 2px;
}

/*Panel*/
.open-panel-header
{
	height: 25px;
	background: #d9534f;
	padding: 6px 12px;
	padding: 6px 12px;
	width: 648px;
	left: -15px;
	position: relative;
}

li .panel-search
{
	width: 200px;
	position: relative;
	top: -30px;
}

.panel-search
{
}

.left-panel
{
	background: #f5f5f5;
	padding: 15px;
}

.left-panel-content
{
	margin-top: 10px;
}

/*Indicators panels*/
.main-panel-indicators
{
	min-height: 300px;
}

.indicator-data
{
	background: #fff;
}

.left-panel-indicators a.link {
	text-decoration: none;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #EBEBEB;
	padding: 1em;
	display: block;
	color: #444444;

	padding: 1em;
	font-size: 85%;
}

.left-panel-indicators a.link:hover, .left-panel-indicators a.link:focus {
	color: #dddddd;
}

.left-panel-indicators
{
	background: #f5f5f5;
	padding: 15px;
}

#open-panel {
	float:right;
	margin:-10px -60px 0px 0px;
	border-radius:0;
	top: -23px;
	position: relative;
}

.panel-container
{
	overflow: hidden;
}
.left-panel-indicators
{
	width: 650px;
	min-height: 500px;
	position: absolute;
	left: -650px;
	z-index: 1000;
}

.main-panel
{
	left: 0px;
}

.left-panel-push
{
	left: 0px;
}

.main-panel-push
{
	left: 650px;
}


/*GIS panel*/
#gis-panel-buttons
{
	margin: 10px;
}

/*Dashboard panels*/

.dashboard
{
	padding:5px;
	margin: 20px 0px 20px 0px;
}

.dashboard-featured
{
	padding: 0px 0px 0px 10px;
}

.slide-featured
{
	border: 1px solid #ccc;
}

.dashboard-item 
{
	background: #f5f5f5;
	border: 1px solid #cccccc;
	color: #a82025;
}

.dashboard-item:hover, .dashboard-item:focus
{
	background: #555555;
	border: 1px solid #333;
	color: #ffffff;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.dashboard-quick-link
{
	background: #ffffff;
}

.dashboard-quick-link-image
{
	color: #333;
	background: #f5f5f5;
	border-bottom: 1px solid #cccccc;
	padding: 20px;
}

.dashboard-quick-link-text
{
	padding: 10px;
}

.front-tile-text
{
	text-align: center;
	position: relative;
	top: 45px;
}

.back-tile-text
{
}

.tile.clean 
{
	overflow: hidden;
	height: 200px;
}

.tile.detail .content {
	background: transparent;
	padding: 10px 10px 13px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.tile.detail .description {
	font-weight: 500;
}

.dashboard-tile:hover:before , .dashboard-tile:focus:before{
	content: "\f085";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	position: absolute;
	color: rgba(0, 0, 0, 0.19);
	font-size: 50px;
	top: 130px;
	left: 215px;
}

.indicators-tile:hover:before , .indicators-tile:focus:before{
	content: "\f1fe";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	position: absolute;
	color: rgba(0, 0, 0, 0.19);
	font-size: 50px;
	top: 130px;
	left: 215px;
}

.gis-tile:hover:before , .gis-tile:focus:before{
	content: "\f041";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	position: absolute;
	color: rgba(0, 0, 0, 0.19);
	font-size: 50px;
	top: 130px;
	left: 215px;
}

.documents-tile:hover:before , .documents-tile:focus:before{
	content: "\f07c";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	position: absolute;
	color: rgba(0, 0, 0, 0.19);
	font-size: 50px;
	top: 130px;
	left: 215px;
}

/*.tile.detail:hover:before , .tile.detail:focus:before
{
	font-size: 100px;
	color: rgba(0, 0, 0, 0.10);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}*/

/*Flip tiles*/

.icon-image
{
	color: rgba(0, 0, 0, 0.19);
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
		transform: rotateY(0deg);
	}
	.flip-container:hover .front {
	    transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	  transform-style: preserve-3d;
	  transition: all 1.0s linear;

	/*position: relative;*/
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	/*transition: 0.6s;*/
	transform-style: preserve-3d;

	/*position: absolute;
	top: 0;
	left: 0;*/
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
	position: relative;
	/*top: 100px;*/
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
	position: relative;
	top: -100px;
}

/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
	/*position: relative;*/
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
    transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
    transform: rotateX(180deg);
}

/*Flip tiles*/

/*Search*/
.mainnav-search-query {
	color: #333;
	outline: none;
	width: 210px;
	padding: 3px 20px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	border-radius: 0;
	height: auto;
	background: #FFF;
}

.mainnav-form-btn
{
	text-align: center;
	color: #fff;
	padding: 7px 10px;
	background: #00A8D6;
	border: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	font-weight: bold;
	border-radius: 0;
}

.search-form
{
	margin-top: 20px;
	position: relative;
}

.search-button
{
	top: 2px;
	position: absolute;
	right: 2px;
}

/*Panels*/
.panel1
{
	background: url('../images/pattern-bg.png') repeat;
}

.panel2
{
	/*background: #ffffff;
	border-top: 1px solid #c5ccd1;*/
background: rgba(0,0,0,0.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.panel3
{
	padding-top: 15px;
	padding-bottom: 20px;
	min-height: 210px;
	/*background: #595454;*/
	background: #777777;
	color: #0C0C0C
}

.panel4
{
	padding-top: 23px;
}

.banner-optin input[type="text"], .banner-optin textarea {
	color: #333;
	border: none;
	outline: none;
	width: 100%;
	padding: 14px 20px;
	display: block;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	border-radius: 0;
	height: auto;
	background: #FFF;
}

.banner-optin button {
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 15px 0;
	background: #a82025;
	border: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	font-weight: bold;
	border-radius: 0;
}

.panel-headers
{
	padding: 10px;
}

/*Tooltip*/
.ui-tooltip
{
	background-color:#888a8e;
	font-size:10pt;
	font-family:Calibri;
	border-radius: 0px;
}

.tooltip.top .tooltip-inner {
    background-color:#888a8e;
  }
.tooltip.top .tooltip-arrow {
          border-top-color: #fff;
       }
.tooltip.right .tooltip-inner {
    background-color:#888a8e;
  }
.tooltip.right .tooltip-arrow {
          border-right-color: #fff;
       }
.tooltip.bottom .tooltip-inner {
    background-color:#888a8e;
  }
.tooltip.bottom .tooltip-arrow {
          border-bottom-color: #fff;
       }  
.tooltip.left .tooltip-inner {
    background-color:#888a8e;
  }
.tooltip.left .tooltip-arrow {
          border-left-color: #fff;
       }                    

/*Masonry*/
.mason-item 
{
	width: 270px;
	float: left;
	color: #a82025;
}

.mason-item:hover, .mason-item:focus
{
	color: #a82025;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.feature .feature-details {
	border-top: 1px solid #e8e8e8;
	padding: 0 10px 0 15px;
	background: #505050;
	line-height: 30px;
}

.feature .feature-content, .team-member .team-member-content 
{
	border-top-color: #279FBB;
}

.feature .feature-content 
{
	padding: 22px 15px 15px 15px;
	border-top: 2px solid #f62;
}

.img-overlay 
{ 
	width: 100%; height: 100%; position: relative; background-size: 100%; background-repeat: no-repeat; background-position: 0 150px;
} 
.img-overlay img 
{ 
	width: 100%;
} 
.item-img-overlay 
{ 
	width: 100%; height: 100%; position: absolute; left: 0%; top: 0; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 500ms; -moz-transition: all 500ms; -o-transition: all 500ms; transition: all 500ms; overflow: hidden;
} 
.item-img-overlay:hover 
{
	opacity: 1;
} 
.item-img-overlay .item_img_overlay_content 
{ 
	position: absolute; 
	background-color: #279fbb; 
	height: 40px; width: 100%; 
	top: auto; 
	bottom: 0; 
	opacity: 0; 
	-webkit-transform: translateY(100%); 
	-moz-transform: translateY(100%); 
	-ms-transform: translateY(100%); 
	-o-transform: translateY(100%); 
	transform: translateY(100%); 
	-webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden; 
	-webkit-transition: 
	-webkit-transform 0.4s, 
	opacity 0.1s 0.3s; 
	-moz-transition: 
	-moz-transform 0.4s, 
	opacity 0.1s 0.3s; 
	-o-transition: 
	-moz-transform 0.4s, 
	opacity 0.1s 0.3s; 
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

/*Form*/
.input-indicator-1
{
	float: left !important;
	width: 110px !important;
}

.input-indicator-2
{
	width: 185px !important;
}

.label-indicator-1
{
	float: left;
}

.input-group.indicator-1
{
	float:left;
	margin: 10px;
}

.indicator-2
{
	margin: 5px;
}

.input-text-x
{
	margin: 5px;
	font-weight: bold;
	padding-top: 5px;
}

.form-control
{
	border-radius: 0px !important;
}

/*Footer*/
.footer
{
	padding-bottom: 20px;
	min-height: 210px;
	/*background: #595454;*/
	background: #ffffff;
	color: #0C0C0C;
}

.footer-text{
	padding: 15px;
}

.footer h3
{
	color: #FFFFFF;
}

.contact-details, .social-networks 
{
	padding-left: 0;
	margin-bottom: 0;
}

.contact-details, .social-networks li 
{
	display: inline-block;
	float: left;
	margin: 0 .2em .5em 0;
}

.footer-quick-links
{
	padding: 20px;
	background: #a82025;
	color: #ffffff;
	font-weight: bold;
	border: 1px solid #888888;
	text-align: center;
}

.contact-details a, .footer-quick-links a
{
	color: #ffffff;
	text-decoration: none;
}

.footer-quick-links:hover, .footer-quick-links:focus
{
	background: rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);	
}
.footer p
{
	color: #AAAAAA;
	font-family: font-family: 'Open Sans', sans-serif;;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.contact-details li, .footer-quick-links li
{
	list-style-type: square;
	margin-bottom: 10px;
	color: #7a7a7a;
}

.contact-details li
{
	margin-bottom: 0px;
	font-size: 14px;
}

.contact-details i, .contact-details li, .footer-menu-links a
{
	text-decoration: none;
	list-style: none;
	color: #F5F5F5;
	font-family: font-family: 'Open Sans', sans-serif;;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.footer-menu-links a:hover, .footer-menu-links a:focus
{
	color: #cccccc;
}

.footer-menu-links
{
	padding-left: 10px;
}

.copyright
{
	color: #e8e8e8;
	font-family: font-family: 'Open Sans', sans-serif;;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/*color*/
.text-orange
{
	color: #f62;
}

.text-blue
{
	color: #09d;
}

.text-grey
{
	color: #cccccc;
}

.text-black
{
	color: #666666;
}

/*Background*/
.bg-maroon
{
	background: #a82025;
	color: #ffffff;
}

.bg-maroon.tile:hover, .bg-maroon.tile:focus
{
	/*background: #BB181E;*/
	background: #F9F9F9;
	color: #333333;
	border: 1px solid #ccc;
}

.bg-white
{
	background: #ffffff;
	color: #333333;
}

.bg-white.tile:hover, .bg-white.tile:focus
{
	background: #F9F9F9;
	color: #333333;
	border: 1px solid #ccc;
}

.bg-grey
{
	background: #4d4e4f;
	color: #ffffff;
}

.bg-grey.tile:hover, .bg-grey.tile:focus
{
	/*background: #545A61;*/
	background: #F9F9F9;
	color: #333333;
	border: 1px solid #ccc;
}

.bg-lightgrey
{
	background: #888a8e;
	color: #ffffff;
}

.bg-lightgrey.tile:hover, .bg-lightgrey.tile:focus
{
	/*background: #8C919D;*/
	background: #F9F9F9;
	color: #333333;
	border: 1px solid #ccc;
}

.bg-yellow
{
	background: #d1cf0e;
	color: #ffffff;
}

/*accordion*/
.accordion-caret, .accordion-graph-caret
{
	font-size: 25px;
}

thead.accordion.filter
{
	cursor: pointer;
}

.accordion-graph-content
{
	display: none;
}

/*Fluid*/
.leftpanel{
	overflow: hidden;
	background: #ffffff;
}

.titlebar{
	height: 54px;
	padding: 10px;
}

.leftchart{
	border: 1px solid #ccc;
	overflow: hidden;
}

.documents{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
}

table.documents{
	margin-top: 20px;
}

#col2
{
	overflow: hidden;
}

.table-left
{
	display:none;
}
.row div {
    /*height: 200px;*/
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.row .col-xs-0 {
    width: 0%;
}

#trig {
    /*margin: 50px;
    margin-left: 10px;*/
}

.row .col-xs-0 + [class*="col-xs-"]{
    margin-left: 0;
}

/*Stakeholders*/
.stakeholders{color:#333;}
.stakeholder-logo-item-inner{border: 1px solid #ccc; background:#fff;color:#3498db;font-size:36px;line-height:100px;margin:10px;padding:2%;position:relative;text-align:center;}

.slick-next:before {
	content: "\f138" !important;
	font-family: FontAwesome !important;
}

.slick-prev:before {
	content: "\f137" !important;
	font-family: FontAwesome !important;
}

.slick-prev:before, .slick-next:before {
	text-decoration: inherit;
	color: #333 !important;
}

.slick-prev:hover:before, .slick-next:hover:before {
	text-decoration: inherit;
	color: #333 !important;
}
