/*Body*/

/*@import url(http://fonts.googleapis.com/css?family=Enriqueta:400,700);*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
	background: #ffffff;
	font-family:'Open Sans', sans-serif;;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
	
}

hr{
	border-top: 1px solid #dedede;
	margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	margin-top: 0;
	font-family: Enriqueta,Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	-webkit-font-smoothing: antialiased;
}

.description-text
{
	text-align: initial;
  font-size:12px;
}

.description{
	 /*word-break: break-all;*/
	 text-align: justify;
	 white-space: normal;
}

.caption p{
	margin-bottom: 2px;
} 

.tilecontent{
	width: 100%;
}

.articlecontent{
	font-family: font-family: 'Open Sans', sans-serif;;
	line-height: 1.8;
	font-size: 18px;
	text-align: justify;
}

.article-preview
{
	border: 1px solid #ccc;
	text-align: initial;
}

.article-preview-title
{
	font-weight: bold;
	padding: 15px 0px 3px 0px;
	border-bottom: 1px solid #ccc;
	margin: 15px;
}

.article-preview-text
{
	padding: 15px;
}

.previous-articles{
	margin-top: 15px;
}

.content .post-date {
	font-family: "Open Sans", helvetica, arial, sans-serif;
	color: #9f9f9f;
	font-weight: bold;
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	position: relative;
	margin: 10px;
}

.article{
	background: #fff;
	border: 1px solid #ccc;
	padding-top: 15px;
}



.nopadding
{
	padding: 0px;
}

.row
{
	margin-left: 0px;
	margin-right: 0px;
}

.clear{
	clear:both;
}

.show
{
	display: block;
}

.main-inner-page-padding
{
	padding: 0px 30px 0px 30px;
}

.main-page
{
	background: #F7F8F9;
	background-image: -webkit-linear-gradient(top, #f2f2f2 0%, #ffffff 100%);
	background-image: linear-gradient(to bottom, #f2f2f2 0%, #ffffff 100%);
	background-repeat: repeat-x;
}

.section-title
{
	display: inline-block;
	border-bottom: 1px solid #333;
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
	font-size: 20px;
	font-weight: 500;
	text-transform: capitalize;
	position: relative;
	overflow: hidden;	
}

/*List*/
ul.none {
    list-style: none;
}

ul.circle {
    list-style-type: circle;
}

ul.square {
    list-style-type: square;
}

ol.upper-roman {
    list-style-type: upper-roman;
}

ol.lower-alpha {
    list-style-type: lower-alpha;
}

/*Head banner*/
.head-banner
{
	margin: 10px 0px 5px 0px;
}


/*Text*/
.text-muted a
{
	color: #777777;
	text-decoration: none;
}

.text-muted a:hover, .text-muted a:focus
{
	color: #ffffff;
}

.value {
	display: block;
	text-align: center;
	font-size: 2em;
	margin: 10px 0;
}

/*Images*/
.thumbnail
{
	padding: 0px;
	border-radius: 0px;
	background: none !important;
	border: none;
	margin-bottom: 5px;
}

.thumbnail img
{
	padding: 4px;
	height:	160px;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.thumbnail img.featured
{
	padding: 0px;
	height: auto;
}

/*Site info*/
.site-info
{
	/*margin: 5px;*/
}

.language
{
	padding: 0px 5px;		
}
.country-flags
{
	/*background: #f5f5f5;*/
	padding: 5px;
	/*border: 1px solid #ccc;*/
}

.language-btn
{
	/*margin: 5px 0px;*/
	padding: 0px 5px 0px 0px;
}

/*Featured data*/
.featured
{
	/*padding: 20px 0px 20px 0px;*/
	/*background: #ffffff;*/
	color: #333333;	
}

.featured-title-text
{
	font-weight: bold;
}

.featured-title
{
	text-align: justify;
}

.caption
{
	text-align: justify;
	font-size: 15px;
}

.featured-chart-text
{
	background: #f5f5f5;
	border: 1px solid #ccc;
	padding: 10px;
	min-height: 100px;
}


/*Buttons*/
.btn-primary {
	color: #fff;
	background-color: #00A8D6;
	border-color: #0494BB;
}

.bluebutton
{
	background-color: #31b0d5;
	color: #ffffff;
	font-weight: bold;
}

.bluebutton:hover, .bluebutton:focus
{
	background-color: #5bc0de;
	color: #333333;
}

.action-buttons
{
	padding: 20px 0px 0px 0px;
}

.data-filter
{
	/*margin-top: 20px;*/
}

.filter-button
{
	/*width: 200px;*/
}

.featured-links
{
	font-family: Enriqueta,Helvetica,Arial,sans-serif;
	font-weight: bold;
	text-transform: capitalize;
	font-size: 18px;
}

.jump-to
{
	margin-top: 5px;
	margin-bottom: 5px;
}

.quick-buttons
{
	padding: 10px;
	width: 100%
}

.btn
{
	border-radius: 0px;
}

.btn.btn-one
{
	border: 2px solid #FFFFFF !important;
	color: #FFF;
	background: #a82025;
}

.btn.btn-one:hover, .btn.btn-one:focus
{
	border: 2px solid #a82025 !important;
	border: 2px solid #FFF;
	color: #ffffff;
	background: #555555;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.btn-two {
	color: #ffffff;
	background-color: #a82025;
	border: 1px solid;
	border-color: #df1119;
}

.btn-two:hover, .btn-two:focus {
	color: #ffffff;
	background-color: #BB0D14;
	border: 1px solid;
	border-color: #df1119;
}

/*Top header*/
.info{
	font-weight: bold;
	font-size: 12px;
	color: #555555;
}

/*Carousel*/
.carousel-caption
{
	color: #333;
}
.carouselbtn
{
	background: #555555;
	border: 1px solid #333;
	color: #ffffff;
}

.carouselbtn:hover, .carouselbtn:focus
{
	background: #ffffff;
	border: 1px solid #cccccc;
	color: #333333;
}

/*Social*/
.facebook
{
	background: #204385;
}

.twitter
{
	background: #2aa9e0;
}

.youtube
{
	background: #e22d24;
}

.linkedin
{
	background: #0073b2;
}

.home-icon
{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	font-size: 25px;
}

.icon{
	color: #ffffff;
	width: 30px;
	height: 30px;
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}

.icon:hover, .icon:focus{
	background: #31373a;
	color: #ffffff;
}

/*Page header*/

.page-header {
	margin: 0px;
}

/*Navbar*/

.top-menu
{
	background: url('../images/greyed_title_bar.png') repeat-x;
}

.navbar {
	min-height: 1px;
	border-radius: 0px !important;
	margin-bottom: 0px !important;
	color: #ffffff;
}

.navbar-s
{
	/*height: 60px;*/
}

.navbar-default {
	/*background-color: #a82025;*/
	background-color: #ffffff;
	border-bottom: 1px solid #ddd;
	border: none !important;
}

.navbar-default.scroll-fixed-navbar
{
	background-color: #a82025;
	border-color: #e7e7e7;
}

.navbar-brand, .navbar-brand:hover, .navbar-brand:focus, .navbar-brand{
	overflow: hidden;
	height: 60px;
	width: 60px;
	padding: 0px;
	/*margin: 5px 0px 5px 0px;*/
	background: #ffffff !important;
}

.navbar-logo{
	float: left;
	overflow: hidden;
	height: 100px;
	width: 270px;
	margin: 5px 0px 5px 0px;
	font-size: 18px;
	line-height: 20px;
}

.navbar-default .navbar-nav>li>a {
	color: #333333;
	font-size: 18px;
	padding: 20px;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
	background: #ffffff;
	color: #a82025;
	/*color: #a82025;
	background: #f2f2f2 !important;*/
}


.navbar-default.scroll-fixed-navbar .navbar-nav>li>a {
	color: #ffffff;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
	color: #a82025;
	background: #f2f2f2;
}

.navbar-default.scroll-fixed-navbar .navbar-nav>.active>a, .navbar-default.scroll-fixed-navbar .navbar-nav>.active>a:hover, .navbar-default.scroll-fixed-navbar .navbar-nav>.active>a:focus {
	color: #333;
}

.navbar-default.scroll-fixed-navbar .navbar-nav>li>a:hover, .navbar-default.scroll-fixed-navbar .navbar-nav>li>a:focus
{
	color: #333;
}

.navbar-nav>li>a {
	line-height: 30px;
}

/*Logo*/
.logo-combination
{
	
}

.logo-head-plain img
{
	height: 89px;
}

.logo-combination a
{
	text-decoration: none;
}

.logo-text
{
	color: #a82025;
	font-weight: bold;
	font-size: 12px;
	line-height: 1.2em;
	width: 175px;
}

.logo-text-item
{
	font-size: 15px;
}
.logo-slogan
{
	color: #333;
	border-top: 1px solid #a82025;
	border-bottom: 1px solid #a82025;
	font-size: 9px;
	letter-spacing: 1px;
}

/*equal height*/
.equal{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
    background-color:#ffffff;
}

#equalheight {
    overflow: hidden;
    border: 1px solid #ccc;
}

/*Tabs*/
.tab-header
{
	padding: 8px 0px 0px 0px;
	margin: 0px 10px 0px 10px;
	border-bottom: 1px solid #f5f5f5;
	min-height: 30px;
	margin-bottom: 2px;
	position: relative;
	z-index: 1000;	
}

.tab-content
{
	border-radius: 0 0 4px 4px;
	padding: 0px;
	margin: 0px 10px 50px 10px;;
}

.tab-content>.tab-pane 
{
	/*height: 100%;*/
	min-height: 500px;
}

.tab-content>.tab-pane.contact
{
	margin-top: 15px;
}

.nav-tabs{
	border-bottom: 0 none;
	margin-right: 0;
	overflow: hidden;
	position: relative;
	top: 3px;
	padding-top: 15px;
}

.nav-tabs.contact{
	border-bottom: 1px solid #ddd;
	margin-right: 0;
	overflow: hidden;
	position: initial;
	top: 0px;
	padding-top: 0px;
}

.nav-tabs>li
{
	/*top: -1px;*/
}

.nav-tabs>li.active
{
	top: 0px;
}

.nav-tabs>li.active>a
{
	background: #a82025 !important;
	color: #ffffff !important;	
}

.nav-tabs>li>a {
	position: relative;
	padding: 7px 15px;
	float: left;
	text-decoration: none;
	color: #444;
	background-color: #fff;
	/*text-shadow: 0 1px 0 rgba(255,255,255,0.8) !important;*/
	border-radius: 0px !important;
	box-shadow: 0 2px 2px rgba(0,0,0,0.4) !important;
	margin-right: 15px !important;
	border: 1px solid #d0d0d0 !important;
}

.nav-tabs>li.active>a {
	box-shadow: none !important;
	text-shadow: none !important;
	border-top: 0px !important;
	border-left: 0px !important;
	border-right: 0px !important;
}

/*info continer*/
.info-container
{
	background-color: #f3f6fb;
	padding: 15px 20px 20px 20px;
	border-color: #e7eaec;
	border-style: solid solid none;
	border-width: 1px 0px;
}

/*Filter tab*/

.filter-tab{
	background: #ffffff;
	padding: 15px;
}

#filter-panel-button
{
	padding: 10px;
	background: #ffffff;
}

/*Dashboard*/
.dashboard-box{
	background-color: #ffffff;
}

.dashboard-body{
	color: #66666;
	padding: 5px 0px 5px 0px;
}
.dashboard-footer{
	background-color: #505050;
	color: #ffffff;
}

/*Graphs and charts*/
.export-data
{
	background: #ffffff;
	padding: 5px 5px 5px 5px;
	/*border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;*/
}

.plot-data
{
	background: #ffffff;
	/*margin: 0px 5px 15px 0px;*/
	/*border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;*/
}
.source
{
	/*border-bottom: 1px solid #ccc;*/	
}
.gnc-header{
	background-color: #505050;
	color: #ffffff;
	padding: 5px;
}

.gnc-body{
	background-color: #ffffff;
	color: #666666;
	border: 1px solid #505050;
	padding: 10px;
}

/*Table*/
/*.caret-filter
{
	margin-left:10px;
	font-family: FontAwesome;
	content: '\f0dc';
	width: 0; 
	height: 0;
}

.sorting_desc:after
{
	margin-left:10px;
	content: ' ';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	position: relative;
	top: -10px;
}

.sorting_desc:after
{
	margin-left:10px;
	content: ' ';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid black;
	position: relative;
	top: -10px;
}

.sorting_asc:after
{
	margin-left:10px;
	content: ' ';
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
	position: relative;
	top: 10px;
}*/

.table.nomargin
{
	margin: 0px;
}

tbody
{
	/*border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;*/
}

.table-header{
	background-color: #505050;
	color: #ffffff;
	padding: 5px;
}

.table>thead>tr>th
{
	/*padding: 10px;*/
	border: none;
	height: 54px;
	
}

.table-body{
	background-color: #ffffff;
	color: #666666;
	border: 1px solid #505050;
	padding: 10px;
}

.keyvalue-table > tbody > tr > td {
	padding-top: 11px;
	padding-bottom: 11px;
	border-top: none;
	border-bottom: 1px solid #ddd;
	background: #fff;
	color: #797979;
	font-size: 14px;
}


/*Panel*/
.open-panel-header
{
	height: 25px;
	background: #d9534f;
	padding: 6px 12px;
	padding: 6px 12px;
	width: 648px;
	left: -15px;
	position: relative;
}

li .panel-search
{
	width: 200px;
	position: relative;
	top: -30px;
}

.panel-search
{
}

.left-panel
{
	background: #f5f5f5;
	padding: 15px;
}

.left-panel-content
{
	margin-top: 10px;
}

/*Search box*/
.search-form .form-group {
  float: right !important;
  transition: all 0.35s, border-radius 0s;
  width: 32px;
  height: 32px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 25px;
  border: 1px solid #ccc;
}
.search-form .form-group input.form-control {
  padding-right: 20px;
  border: 0 none;
  background: transparent;
  box-shadow: none;
  display:block;
}
.search-form .form-group input.form-control::-webkit-input-placeholder {
  display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
  /* Firefox 18- */
  display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
  /* Firefox 19+ */
  display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
  display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
  width: 100%;
  border-radius: 4px 25px 25px 4px;
}
.search-form .form-group button.form-control-feedback {
  position: absolute;
  top: -1px;
  right: -2px;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: #3596e0;
  left: initial;
  font-size: 14px;
}

button.form-control-feedback
{
	border: none;
	background: none;
}

button.form-control-feedback:before
{
top: -3px;
position: relative;
}

/*triangle right*/
.arrow 
{
	font-size: 14px;
	color: #797979;
	background: #fff;
	padding-bottom: 11px;
	padding-top: 11px;
	padding-left: 5px;
	padding-right: 5px;
	border-bottom: 1px solid #ccc;
	white-space: normal !important;
}

.main-panel-indicators a
{
	text-decoration: none !important;
}

.arrow:focus,.arrow.active-indicator
{
	background: #F5D4A5;
	color: #333;
}

.arrow:hover
{
	background: #4EC3E4;
	color: #333;
	cursor: pointer;
}

/*Indicators panels*/
.indicators-title
{
	margin: 10px 5px 10px 5px;
}

.main-panel-indicators
{
	min-height: 300px;
	border-right: 1px solid #ccc;
	/*border-top: 1px solid #ccc;*/
}

.indicator-data
{
	background: #fff;
}

.left-panel-indicators a.link {
	text-decoration: none;
	border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #EBEBEB;
	padding: 1em;
	display: block;
	color: #444444;

	padding: 1em;
	font-size: 85%;
}

.left-panel-indicators a.link:hover, .left-panel-indicators a.link:focus {
	color: #dddddd;
}

.left-panel-indicators
{
	background: #f5f5f5;
	padding: 15px;
}

#open-panel {
	float:right;
	margin:-10px -60px 0px 0px;
	border-radius:0;
	top: -23px;
	position: relative;
}

.panel-container
{
	overflow: hidden;
}
.left-panel-indicators
{
	width: 650px;
	min-height: 500px;
	position: absolute;
	left: -650px;
	z-index: 1000;
}

.main-panel
{
	left: 0px;
}

.left-panel-push
{
	left: 0px;
}

.main-panel-push
{
	left: 650px;
}

/*Login panels*/
.well.login-box {
    width:300px;
    margin:0 auto;
    background: #ffffff;
}
.well.login-box legend {
  font-size:26px;
  text-align:center;
  font-weight:300;
}
.well.login-box label {
  font-weight:300;
  font-size:16px;
  
}
.well.login-box input[type="text"] {
  box-shadow:none;
  border-color:#ddd;
  border-radius:0;
}

.well.welcome-text{
    font-size:21px;
}

/* Notifications */

.notification{
    position:fixed;
    top: 20px;
    right:0;
    background-color:#FF4136;
    padding: 20px;
    color: #fff;
    font-size:21px;
    display:none;
}
.notification-success{
  background-color:#3D9970;
}

.notification-show{
    display:block!important;
}

/*Loged in*/
.logged-in{
  display:none;
}
.logged-in h1{
  margin:0;
  font-weight:300;
}

/*Dashboard panels*/

.dashboard
{
	padding:5px;
	margin: 15px 0px 15px 0px;
}

.dashboard-featured
{
	padding: 0px 0px 0px 10px;
}

.slide-featured
{
	border: 1px solid #ccc;
}

.dashboard-item 
{
	background: #f5f5f5;
	border: 1px solid #cccccc;
	color: #a82025;
}

.dashboard-item:hover, .dashboard-item:focus
{
	background: #555555;
	border: 1px solid #333;
	color: #ffffff;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.dashboard-quick-link
{
	background: #ffffff;
}

.dashboard-quick-link-image
{
	color: #333;
	background: #f5f5f5;
	border-bottom: 1px solid #cccccc;
	padding: 20px;
}

.dashboard-quick-link-text
{
	padding: 10px;
}

.front-tile-text
{
	text-align: center;
	position: relative;
	top: 10px;
}

.back-tile-text
{
}

.tile.clean 
{
	overflow: hidden;
	height: 153px;
}

.tile.detail .content {
	background: transparent;
	padding: 10px 10px 13px;
	display: inline-block;
	position: relative;
	z-index: 3;
}

.tile.detail .description {
	font-weight: 500;
}

.dashboard-tile:hover:before , .dashboard-tile:focus:before{
	content: url(../images/dashboard_icon50by50.png);
	/*--adjust as necessary--*/
	position: absolute;
	color: rgba(0, 0, 0, 0.19);
	font-size: 50px;
	top: 128px;
	left: 215px;
	display: none;
}

.indicators-tile:hover:before , .indicators-tile:focus:before{
	content: "\f1fe";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	position: absolute;
	color: #a82025;
	font-size: 40px;
	top: 134px;
	left: 215px;
	display: none;
}

.gis-tile:hover:before , .gis-tile:focus:before{
	content: "\f041";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	position: absolute;
	color: #3498db;
	font-size: 40px;
	top: 134px;
	left: 215px;
	display: none;
}

.documents-tile:hover:before , .documents-tile:focus:before{
	content: "\f07c";
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-decoration: inherit;
	/*--adjust as necessary--*/
	position: absolute;
	color: #6C7A89;
	font-size: 40px;
	top: 134px;
	left: 215px;
	display: none;
}

/*.tile.detail:hover:before , .tile.detail:focus:before
{
	font-size: 100px;
	color: rgba(0, 0, 0, 0.10);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
}*/

/*Flip tiles*/

.icon-image
{
	color: rgba(255, 255, 255, 1);
	/*top: 30px;*/
	position: relative;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	transform-style: preserve-3d;
}
	/*  UPDATED! flip the pane when hovered */
	.flip-container:hover .back {
		transform: rotateY(0deg);
	}
	.flip-container:hover .front {
	    transform: rotateY(180deg);
	}

/* flip speed goes here */
.flipper {
	  transform-style: preserve-3d;
	  transition: all 1.0s linear;

	/*position: relative;*/
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	/*transition: 0.6s;*/
	transform-style: preserve-3d;

	/*position: absolute;
	top: 0;
	left: 0;*/
}

/*  UPDATED! front pane, placed above back */
.front {
	z-index: 2;
	transform: rotateY(0deg);
	position: relative;
	/*top: 100px;*/
}

/* back, initially hidden pane */
.back {
	transform: rotateY(-180deg);
	position: relative;
	top: -120px;
}

.back_dashboard {
	top: -120px;
}

.menu_icon_image {
	width: 90px;
}

.dashboard_icon_image {
	max-width: 135px;
}

.menu_icon_image_small,.dashboard_icon_image_small {
	width: 30px;
}

/* 
	Some vertical flip updates 
*/
.vertical.flip-container {
	/*position: relative;*/
}

.vertical .back {
	transform: rotateX(180deg);
}

.vertical.flip-container:hover .back {
    transform: rotateX(0deg);
}

.vertical.flip-container:hover .front {
    transform: rotateX(180deg);
}

/*Flip tiles*/

/*Search*/
.mainnav-search-query {
	color: #333;
	outline: none;
	width: 210px;
	padding: 3px 20px;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	border-radius: 0;
	height: auto;
	background: #FFF;
}

.mainnav-form-btn
{
	text-align: center;
	color: #fff;
	padding: 7px 10px;
	background: #00A8D6;
	border: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	font-weight: bold;
	border-radius: 0;
}

.search-form
{
	margin-top: 20px;
	position: relative;
}

.search-button
{
	top: 2px;
	position: absolute;
	right: 2px;
}

/*Panels*/
.panel1
{
	background: url('../images/pattern-bg.png') repeat;
}

.panel2
{
	/*background: #ffffff;
	border-top: 1px solid #c5ccd1;*/
background: rgba(0,0,0,0.5);
-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
box-shadow: 0 0 10px rgba(0,0,0,.1);
}

.panel3
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 210px;
	/* background: #595454; */
	background: #777777;
	color: #0C0C0C;
}

.panel4
{
	padding-top: 23px;
}

.banner-optin input[type="text"], .banner-optin textarea {
	color: #333;
	border: none;
	outline: none;
	width: 100%;
	padding: 7px 10px;
	display: block;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	border-radius: 0;
	height: auto;
	background: #FFF;
	border: 1px solid #ccc;
}

.banner-optin button {
	width: 100%;
	text-align: center;
	color: #fff;
	padding: 8px 0;
	background: #a82025;
	border: none;
	transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	font-weight: normal;
	border-radius: 0;
}

.panel-headers
{
	padding: 10px;
}

/*Tooltip*/
.ui-tooltip
{
	background-color:#888a8e;
	font-size:10pt;
	font-family:Calibri;
	border-radius: 0px;
}

.tooltip.top .tooltip-inner {
    background-color:#888a8e;
  }
.tooltip.top .tooltip-arrow {
          border-top-color: #fff;
       }
.tooltip.right .tooltip-inner {
    background-color:#888a8e;
  }
.tooltip.right .tooltip-arrow {
          border-right-color: #fff;
       }
.tooltip.bottom .tooltip-inner {
    background-color:#888a8e;
  }
.tooltip.bottom .tooltip-arrow {
          border-bottom-color: #fff;
       }  
.tooltip.left .tooltip-inner {
    background-color:#888a8e;
  }
.tooltip.left .tooltip-arrow {
          border-left-color: #fff;
       }                    
.popover {
    font-size: 13px;
}

/*Masonry*/
.mason-item 
{
	width: 270px;
	float: left;
	color: #a82025;
}

.mason-item:hover, .mason-item:focus
{
	color: #a82025;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.feature .feature-details {
	border-top: 1px solid #e8e8e8;
	padding: 0 10px 0 15px;
	background: #505050;
	line-height: 30px;
}

.feature .feature-content, .team-member .team-member-content 
{
	border-top-color: #279FBB;
}

.feature .feature-content 
{
	padding: 22px 15px 15px 15px;
	border-top: 2px solid #f62;
}

.img-overlay 
{ 
	width: 100%; height: 100%; position: relative; background-size: 100%; background-repeat: no-repeat; background-position: 0 150px;
} 
.img-overlay img 
{ 
	width: 100%;
} 
.item-img-overlay 
{ 
	width: 100%; height: 100%; position: absolute; left: 0%; top: 0; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: all 500ms; -moz-transition: all 500ms; -o-transition: all 500ms; transition: all 500ms; overflow: hidden;
} 
.item-img-overlay:hover 
{
	opacity: 1;
} 
.item-img-overlay .item_img_overlay_content 
{ 
	position: absolute; 
	background-color: #279fbb; 
	height: 40px; width: 100%; 
	top: auto; 
	bottom: 0; 
	opacity: 0; 
	-webkit-transform: translateY(100%); 
	-moz-transform: translateY(100%); 
	-ms-transform: translateY(100%); 
	-o-transform: translateY(100%); 
	transform: translateY(100%); 
	-webkit-backface-visibility: hidden; 
	-moz-backface-visibility: hidden; 
	-webkit-transition: 
	-webkit-transform 0.4s, 
	opacity 0.1s 0.3s; 
	-moz-transition: 
	-moz-transform 0.4s, 
	opacity 0.1s 0.3s; 
	-o-transition: 
	-moz-transform 0.4s, 
	opacity 0.1s 0.3s; 
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

/*Form*/
.input-indicator-1
{
	float: left !important;
	width: 110px !important;
}

.input-indicator-2
{
	width: 150px !important;
}

.label-indicator-1
{
	float: left;
}

.input-group.indicator-1
{
	float:left;
	margin: 10px;
}

.indicator-2
{
	margin: 5px;
}

.input-text-x
{
	margin: 5px;
	font-weight: bold;
	padding-top: 5px;
}

.form-control
{
	border-radius: 0px !important;
}

/*Contact us*/
.contact-item
{
	padding: 10px 0px 10px 0px;
}

/*Footer*/
.footer
{
	padding-bottom: 20px;
	min-height: 210px;
	/*background: #595454;*/
	background: #ffffff;
	color: #0C0C0C;
}

.footer-text{
	padding: 15px;
}

.footer h3
{
	color: #FFFFFF;
}

.contact-details, .social-networks 
{
	padding-left: 0;
	margin-bottom: 0;
}

.contact-details, .social-networks li 
{
	display: inline-block;
	float: left;
	margin: 0 .2em .5em 0;
}

.footer-quick-links
{
	padding: 5px;
	/*background: #a82025;*/
	color: #ffffff;
	font-weight: bold;
	/*border: 1px solid #888888;*/
	text-align: center;
	-webkit-font-smoothing: antialiased;
}

.contact-details a, .footer-quick-links a
{
	color: #ffffff;
	text-decoration: none;
}

.footer-quick-links:hover, .footer-quick-links:focus
{
	background: rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.1);
	box-shadow: 0 0 10px rgba(0,0,0,.1);	
}
.footer p
{
	color: #AAAAAA;
	font-family:'Open Sans', sans-serif;;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
}

.contact-details li, .footer-quick-links li
{
	list-style-type: square;
	margin-bottom: 10px;
	color: #7a7a7a;
}

.contact-details li
{
	margin-bottom: 0px;
	font-size: 14px;
}

.contact-details i, .contact-details li, .footer-menu-links a
{
	text-decoration: none;
	list-style: none;
	color: #F5F5F5;
	font-family: font-family: 'Open Sans', sans-serif;;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

.footer-menu-links a:hover, .footer-menu-links a:focus
{
	color: #cccccc;
}

.footer-menu-links
{
	padding-left: 10px;
}


/*Footer Links*/
.footer-nav-links {
	text-decoration: none;
	list-style: none;
	margin-top: 10px;
}

.footer-nav-links  li {
	margin-bottom: 5px;
}

.footer-nav-links  li a {
	color: #f5f5f5;
}

.footer-nav-links  li a:hover, .footer-nav-links  li a:focus{
	color: #ffff00;
}



.copyright
{
	color: #e8e8e8;
	font-family: font-family: 'Open Sans', sans-serif;;
	font-size: 15px;
	line-height: 1.5;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
}

/*color*/
.text-orange
{
	color: #f62;
}

.text-blue
{
	color: #09d;
}

.text-grey
{
	color: #cccccc;
}

.text-black
{
	color: #666666;
}

/*Background*/
.bg-maroon
{
	background: #a82025;
	color: #ffffff;
}

.bg-maroon.tile:hover, .bg-maroon.tile:focus
{
	/*background: #BB181E;*/
	background: #bdc3c7;
	color: #333333;
	border: 1px solid #ccc;
}

/*.bg-white
{
	background: #ffffff;
	color: #333333;
}

.bg-white.tile:hover, .bg-white.tile:focus
{
	background: #F9F9F9;
	color: #333333;
	border: 1px solid #ccc;
}
*/
.bg-green
{
	background: #26A65B;
	color: #ffffff;
}

.bg-green.tile:hover, .bg-green.tile:focus
{
	background: #bdc3c7;
	color: #333333;
	border: 1px solid #ccc;
}



.bg-grey
{
	background: #6C7A89;
	color: #ffffff;
}

.bg-grey.tile:hover, .bg-grey.tile:focus
{
	/*background: #545A61;*/
	background: #bdc3c7;
	color: #333333;
	border: 1px solid #ccc;
}

.bg-blue
{
	background: #3498db;
	color: #ffffff;
}

.bg-blue.tile:hover, .bg-blue.tile:focus
{
	/*background: #8C919D;*/
	background: #bdc3c7;
	color: #333333;
	border: 1px solid #ccc;
}

.bg-yellow
{
	background: #d1cf0e;
	color: #ffffff;
}

/*accordion*/
.accordion-caret, .accordion-graph-caret
{
	font-size: 25px;
}

thead.accordion.filter
{
	cursor: pointer;
}

.accordion-graph-content
{
	display: none;
}

/*Fluid*/
.leftpanel{
	overflow: hidden;
	background: #ffffff;
}

.titlebar{
	height: 54px;
	padding: 10px;
}

.leftchart{
	border: 1px solid #ccc;
	overflow: hidden;
}

.documents{
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 15px;
}

table.documents{
	margin-top: 20px;
}

#col2
{
	overflow: hidden;
}

.table-left
{
	display:none;
}
.row div {
    /*height: 200px;*/
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
}

.row .col-xs-0 {
    width: 0%;
}

#trig {
    /*margin: 50px;
    margin-left: 10px;*/
}

.row .col-xs-0 + [class*="col-xs-"]{
    margin-left: 0;
}

/*Stakeholders*/
.stakeholders-link
{
	text-decoration: none !important;
	color: #333;
}

.stakeholder-name
{
	color: #a82025;
}

.stakeholders-list
{
	margin-left: 25px;
}

.stakeholders{color:#333;height: 200px;}
.stakeholder-logo-item-inner{/*border: 1px solid #ccc;*/ background:#fff;color:#3498db;font-size:36px;line-height:100px;margin:10px;padding:2%;position:relative;text-align:center;}

.stakeholder-logo-item-inner img{
	max-width: 80%;
}

.stakeholders-logo
{
	display:table;
	margin:0 auto;
}

.stakeholders-site
{
	font-size: 10px;
	text-decoration: none;
	color: #333333;
	display:table;
	margin:0 auto;
	top: -40px;
	position: relative;
}

.slick-next:before {
	content: "\f138" !important;
	font-family: FontAwesome !important;
}

.slick-prev:before {
	content: "\f137" !important;
	font-family: FontAwesome !important;
}

.slick-prev:before, .slick-next:before {
	text-decoration: inherit;
	color: #333 !important;
}

.slick-prev:hover:before, .slick-next:hover:before {
	text-decoration: inherit;
	color: #333 !important;
}

/*sitemap*/
.sitemap
{
	/*background: #fff;
	border: 1px solid #ccc;*/
}

ul.sitemap-links
{
	/*list-style: none;*/
}

li .sitemap
{
	color: #333;
	padding: 10px;
	margin: 5px;
}

li .sitemap:hover, li .sitemap:focus
{
	background-color: #f5f5f5;
}

li a:hover, li a:focus
{
	text-decoration: none;
}

/*search results*/
.search-result-item
{
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	padding: 15px;
}

.search-result-item-author, .search-result-item-time
{
	width: 200px;
	margin: auto;
	text-align: center;
}

/*Home Stakeholders Title Class*/
.stakeholders-title {
	margin-bottom: 2px;
}

/*Documents Page Download Button*/

.download_td_btn {
	text-align: center;
}

.bg-orange:hover {
	color: #fff;
	background-color: #f39c12;
}

.bg-orange{
	color: #fff;
	background-color: #428bca;
	border-color: #428bca;
}

/* Bootstrap Css Map Fix*/
.gmnoprint img {
    max-width: none; 
}

div#map-canvas 
{
	height: 420px;
	margin: 0px;
	padding: 0px;
}

