tr, table, td, p, pre, body {
	font-family: DejaVuSansCondensed, helvetica, arial, tahoma, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	letter-spacing: 0px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin: 0px;


}

hr {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin: 0px;
	height: 1px;
	background: #336699;
}

h1 {
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -0.1em;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
	padding-top: 3px;
	color: #6699cc;
	ttext-transform: lowercase;
}

h2 {
	font-size: 20px;
	font-weight: normal;
	letter-spacing: -1px;
	color: #a0a0a0;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
        	padding-top: 3px;
}

h3 {
	font-size: 14px;
	font-weight: normal;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1em;
        padding-top: 3px;
}


h4 {
	font-size: 1.1em;
	font-weight: bold;
	color: #330000;
	padding: 0;
	margin: 0px 0 0 0;
	line-height: 1.1em;
       	padding-top: 0px;
}


a:link, visited, active {
	color: #0000aa; text-decoration: none;
}


