.tabStrip ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.tabStrip li {
	margin: 0 2px 0 0;
	list-style-type: none;
	float: left;
}
.tabLink {
	display: block;
	text-decoration: none;
	padding: 5px;
	background: #ffffff;
	//border: #dadada solid;
	border-width: 1px 1px 0 1px;
	color: #000000;
}
.tabLinkActive {
	display: block;
	text-decoration: none;
	padding: 5px;
	background: #e7e7e7;
	//border: #c0c0c0 solid;
	border-width: 1px 1px 0 1px;
	color: #000000;
	font-weight: bold;
	font-size: 12px;
	font-color: #000000;
}
.tabContent {
	display: none;
}
.tabContentActive {
	display: block;
	clear: both;
	background: #ffffff;
	border: 1px #e0e0e0 solid;
	padding: 10px;
}



.cornerBox {
	position: relative;
	background: #e7e7e7;
	width: 100%;
}
.corner {
	position: absolute;
	width: 10px;
	height: 10px;
	background: url('corners.gif') no-repeat;
	font-size: 0%;
}
.cornerBoxInner {
	padding: 10px;
}
.TL {
	top: 0;
	left: 0;
	background-position: 0 0;
}
.TR {
	top: 0;
	right: 0;
	background-position: -10px 0;
}
.BL {
	bottom: 0;
	left: 0;
	background-position: 0 -10px;
}
.BR {
	bottom: 0;
	right: 0;
	background-position: -10px -10px;
}

